{% extends 'base.html'%}
<head>
		{% block head %}
		<title>Complaint Box | home</title>
		
{% endblock %}
	</head>
{% block sai%}
{% endblock %}
{% block body %}
<body>
<style>
div.card {
    margin:auto;
    padding: 20px;
    text-align: left;
    font-size: 100%;
    font-family: verdana;
    font-style: italic;
    width: 110rem;
}
	  legend
	{
	  font-size:30px;
	  text-align:center;
	  font-family: verdana;
	}
</style>
<div class="container">
   <ul>
   	<li> <a href="firstapp/mro_xyz/">Mro login</a></li>
   </ul>
</div>



</body>
{% endblock %}


